{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post" class="container-fluid d-flex justify-content-center">
    

    <div aria-label="formulaire de connexion au compte" class="flex-column text-light">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        
        <h2 class="h3 my-5 font-weight-normal">Veuillez vous connecter</h2>
        <label class="mb-2" for="inputEmail">Email</label>
        <input type="email" value="{{ email }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label class="mb-2 mt-4" for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <a aria-label="lien pour créer un compte" href="/register" class="text-light">C'est ici pour créer un compte</a>
        
        <button aria-label="bouton de connexion" id="button" type="submit">
            <span class='button_text'>Se connecter</span>
        </button>
        
    </div>
</form>

{% endblock %}
