{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post" class="container-fluid d-flex justify-content-center">
    

    <div aria-label="formulaire de connexion au compte" class="flex-column text-light">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <a aria-label="lien pour créer un compte" href="/register" class="text-light">C'est ici pour créer un compte</a>
        
        <button aria-label="bouton de conexion" class="btn btn-lg btn-dark my-3" type="submit">
            Se connecter
        </button>        
        
    </div>
</form>

{% endblock %}
