{% extends 'base.html.twig' %}

{% block title %}
  Nouveau projet
{% endblock %}

{% block body %}
  <div class="col-5">
    <h2 class="mb-4 text-center">Ajout d'un nouveau projet</h2>

    {# <input type="hidden" id="user_id" name="{{projet_form["utilisateur":app.user.id]}}"> #}
    {{ form(form_projet) }}
    
  </div>
{% endblock %}