{% extends 'base.html.twig' %}

{% block title %}Hello {{ user }}!{% endblock %}

{% block body %}

<section class="container mt-3 mb-5 text-light">
    <h1 class="text-center">Salut {{ user }}!</h1>

    <div class="container-fluid mt-3 col-4">
        {{ form(form_user) }}
    </div>
</section>
{% endblock %}
