/* div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/*div.projetParent {
  position: relative;
  height: auto;
} */

/*#projet {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 360px;
} */

/*#projet div:first-child {
     position: absolute;
    background-color: blueviolet;
} */

/* h4.col-5 {
    width: 115px;
} */

/* a.nav-link {
    color: white;
} */

/* a.nav-link:hover {
  color: rgb(66, 66, 188);
} */

